body {
    margin: 0;
}

.formationRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5vh;
    width: 100%;
    background-color: blue;
    position: relative;
}

.formationPosition {
    width: 8vh;
    background-color: red;
    height: 100%;
    align-items: flex-end;
}

#formationSetup {
    display: flex;
    flex-direction: column;
    height: 75vh;
    background-color: green;
}

#searchMenu {
    position: absolute;
    width: 50vh;
    height: 75vh;
    top: 0%;
    background-color: black;
    opacity: 0.9;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#searchPlayers {
    width: 100%;
    height: 8%;
}

.playerSearchResult {
    width: 100%;
    height: 9%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: left;
}

.playerNameText {
    margin-left: 25px;
}

.searchSpacer {
    height: 0.2%;
    background-color: white;
}

.submitSquadButton {
    position: absolute;
    left: 60%;
    margin: auto;
    width: 10%;
    top: 25%;
    height: 50%;
    background-color: black;
    color: white;
    align-items: center;
}

#submitButtonText {
    text-align: center;
}

.positionText {
    text-align: center;
}