<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Famous Formations</title>
</head>

<body>
    {% include "formation.html" %}
    <div class = "wrapper" id = "gamemodeButtonHolder">
        <div class = "gamemodeButton">
            <p class = "gamemodeButtonText" id = "dailyButton">Daily</p>
        </div>
        <div class = "gamemodeButton">
            <form action="/teamSelector" id = "teamSelectorForm"><p class = "gamemodeButtonText" id = "teamsButton">Teams</p></form>
        </div>
    </div>
    <script src="{{url_for('static', filename='dailyPage.js')}}"></script>
</body>

</html>