<p class = "titleText">Famous Formations</p>
<p class = "titleText" id = "gameName"></p> 
<p class = "descriptionText" id = "gameDescript"></p>
<div id = "formationWindow">
    <div id = "formationSetup"></div>
</div>
<div class = "wrapper" id = "searchMenuWrapper">
    <div id = "searchMenu">
        <input id = "searchPlayers" class = "searchBox" placeholder="Type any player...">
        <div class = "playerSearchResult searchResult" id = "result0">
            <p class = "playerNameText" id = "player0"></p>
        </div>
        <div class = "searchSpacer"></div>
        <div class = "playerSearchResult searchResult" id = "result1">
            <p class = "playerNameText" id = "player1"></p>
        </div>
        <div class = "searchSpacer"></div>
        <div class = "playerSearchResult searchResult" id = "result2">
            <p class = "playerNameText" id = "player2"></p>
        </div>
        <div class = "searchSpacer"></div>
        <div class = "playerSearchResult searchResult" id = "result3">
            <p class = "playerNameText" id = "player3"></p>
        </div>
        <div class = "searchSpacer"></div>
        <div class = "playerSearchResult searchResult" id = "result4">
            <p class = "playerNameText" id = "player4"></p>
        </div>
        <div class = "searchSpacer"></div>
        <div class = "playerSearchResult searchResult" id = "result5">
            <p class = "playerNameText" id = "player5"></p>
        </div>
        <div class = "searchSpacer"></div>
        <div class = "playerSearchResult searchResult" id = "result6">
            <p class = "playerNameText" id = "player6"></p>
        </div>
        <div class = "searchSpacer"></div>
        <div class = "playerSearchResult searchResult" id = "result7">
            <p class = "playerNameText" id = "player7"></p>
        </div>
        <div class = "searchSpacer"></div>
        <div class = "playerSearchResult searchResult" id = "result8">
            <p class = "playerNameText" id = "player8"></p>
        </div>
        <div class = "searchSpacer"></div>
        <div class = "playerSearchResult searchResult" id = "result9">
            <p class = "playerNameText" id = "player9"></p>
        </div>
        <div class = "searchSpacer"></div>
    </div>
</div>
<div class = "submitSquadButton wrapper" id = "submitButton">
    <p id = "submitButtonText">Submit</p>
</div>
<script src="{{url_for('static', filename='formation.js')}}"></script>