<p class = "titleText">Famous Formations</p>
<p class = "titleText" id = "gameName"></p> 
<p class = "descriptionText" id = "gameDescript"></p>
<div id = "formationWindow">
    <div id = "formationSetup"></div>
</div>
<div class = "wrapper" id = "searchMenuWrapper">
    <div id = "searchMenu">
        <input id = "searchPlayers" class = "searchBox" placeholder="Type any player...">
    </div>
</div>
<div class = "submitSquadButton wrapper" id = "submitButton">
    <p id = "submitButtonText">Submit</p>
</div>
<script src="{{url_for('static', filename='formation.js')}}"></script>